// light colors
$bs-sidebar-bg: #fff;
$bs-sidebar-menu-item-color: #878a92;
$bs-sidebar-menu-item-active-color: #7269ef;
$bs-sidebar-menu-item-active-bg: #f7f7ff;
$bs-sidebar-sub-bg: #f5f7fb;
$bs-chat-primary-bg: #7269ef;
$bs-chat-secondary-bg: #f5f7fb;
$bs-body-bg: #f7f7ff;
$bs-body-color: #495057;
$bs-body-color-rgb: 73,80,87;
$bs-footer-bg: #fff;
$bs-footer-color: #98a6ad;
$bs-light: #e6ebf5;
$bs-light-rgb: 230,235,245;
$bs-dark: #212529;
$bs-dark-rgb: 33,37,41;
$bs-text-muted: #7a7f9a;
$bs-link-color: #7269ef;
$bs-link-hover-color: #7269ef;
$bs-border-color: #f0eff5;
$bs-dropdown-bg: #fff;
$bs-dropdown-link-color: #212529;
$bs-dropdown-link-hover-color: #1f2327;
$bs-dropdown-link-hover-bg: #f8f9fa;
$bs-dropdown-border-width: 0px;
$bs-card-bg: #fff;
$bs-card-cap-bg: #fff;
$bs-card-logo-dark: block;
$bs-card-logo-light: none;
$bs-modal-bg: #fff;
$bs-modal-content-bg: #fff;
$bs-modal-content-border-color: #f0eff5;
$bs-nav-tabs-link-active-color: #495057;
$bs-nav-tabs-link-active-bg: #f7f7ff;
$bs-accordion-button-active-color: #675fd7;
$bs-accordion-bg: #fff;
$bs-accordion-button-bg: #f5f7fb;
$bs-progress-bg: #f5f7fb;
$bs-toast-background-color: hsla(0,0%,100%,.85);
$bs-toast-border-color: rgba(0,0,0,.1);
$bs-toast-header-border-color: rgba(0,0,0,.05);
$bs-list-group-hover-bg: #f8f9fa;
$bs-popover-bg: #fff;
$bs-pagination-hover-bg: #f5f7fb;
$bs-input-bg: #fff;
$bs-input-group-addon-border-color: #e6ebf5;
$bs-input-border: #e6ebf5;
$bs-input-border-color: #e6ebf5;
$bs-input-focus-border: #b9b4f7;
$bs-input-disabled-bg: #f5f7fb;

// dark colors
$bs-blue: #7269ef;
$bs-indigo: #564ab1;
$bs-purple: #8e4aec;
$bs-pink: #e83e8c;
$bs-red: #ef476f;
$bs-orange: #fc814a;
$bs-yellow: #ffd166;
$bs-green: #06d6a0;
$bs-teal: #050505;
$bs-cyan: #50a5f1;
$bs-white: #fff;
$bs-gray: #7a7f9a;
$bs-gray-dark: #343a40;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #f5f7fb;
$bs-gray-300: #f0eff5;
$bs-gray-400: #e6ebf5;
$bs-gray-500: #adb5bd;
$bs-gray-600: #7a7f9a;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
$bs-primary: #7269ef;
$bs-secondary: #7a7f9a;
$bs-success: #06d6a0;
$bs-info: #50a5f1;
$bs-warning: #ffd166;
$bs-danger: #ef476f;

// font
$bs-body-font-family: Public Sans,sans-serif;
$bs-body-font-size: .9375rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.5;


// breakpoints
$tablet-width: 992px;
$mobileL-width: 768px;
$mobileP-width: 576px;